body {
  background-image: url("../img/darkness.png");
  font-family: 'Inter', sans-serif;
  color: rgba(255, 255, 255, 0.9);
}

/* App Component ============================== */
#appContainer {
  animation: fadein 2s linear forwards;
  opacity: 0
}

/* Loading Screen ============================== */
#loading {
  height: 300px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadein 1s linear forwards infinite;
  opacity: 0;
}

/* Header component =========================== */
#navbar {
  background: rgba(0, 0, 0, 0.52);
  border-bottom: 1px solid #888888;
  padding: 5px;
}

#navbar ul {
  list-style-type: none;
  margin: 5px 10px;
  padding: 5px;
}

#navbar li {
  display: inline;
  margin: 10px;
}

#header {
  line-height: 80%;
  letter-spacing: 0.1em;
  font-size: larger;
  font-weight: 600;
}

#header:hover {
  animation: animateheader 2s linear forwards;
  cursor: pointer;
}

.headerLinks {
  text-decoration: none;
  text-shadow: none;
  color: #369af1;
}

.headerLinks:hover {
  font-weight: 900;
  cursor: pointer;
}

/* Body Component =============================== */
#bodyContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 10px;
  animation: fadein 2s linear forwards;
  opacity: 0
}

/* Form Component ========================= */
#formContainer {
  margin: 25px;
  margin-left: 30px;
}

#iconsContainer {
  padding-left: 5px;
  padding-right: 10px;
}

.icon {
  display: inline-block;
  background-color:	rgb(37, 37, 37);
  border-radius: 60px;
  box-shadow: 0px 0px 4px #888888;
  padding: 0.3em 0.6em;
  margin: 0.3em;
}

.icon:hover {
  background-color: blue;
  box-shadow: 1px 1px 10px #888888;
  cursor: pointer;
}

.copiedMessage {
  color: rgb(85,188,255);
  margin-left: 0.5em;
  font-size: 0.9em;
  text-shadow: 0.4px 0.4px #888888;
  animation: fadeinout 2s linear forwards;
  opacity: 0;
}

textarea {
  font-family: 'Inter', sans-serif;
  background-color:rgb(22, 22, 22);
  box-shadow: 0px 0px 2px #888888;
  font-size: medium;
  border: none;
  width: 100%;
  height: auto;
  padding: 10px;
  outline: none;
  resize: vertical;
  overflow: auto;
  color: rgba(255, 255, 255, 0.9);
}

textarea:hover {
  box-shadow: 1px 1px 10px #888888;
}

/* Translation Component ============================ */
#translationContainer {
  margin-top: 83px;
  margin-left: 20px;
  margin-right: 30px;
  padding: 10px;
  padding-bottom: 20px;
  background-color: rgb(22, 22, 22);
  box-shadow: 0px 0px 2px #888888;
  animation: fadein 0.5s linear forwards;
  opacity: 0
}

#translationHeader {
  color: #369af1;
}

#translationBox {
  padding: 10px;
}

#translation:hover {
  color: rgba(0, 0, 255, 0.95);
  font-weight: 600;
  cursor: pointer;
}

/* Modal Component ============================ */
#modalContainer {
  background-color: rgb(19, 19, 19);
  opacity: 0.6;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 31%;
  animation: fadein 1s linear forwards;
  opacity: 0
}

#modalHeader {
  background-image: url('../img/dark_geometric.png');
  padding: 1px;
}

#closeIcon {
  float: right;
  font-size: x-large;
  font-weight: bold;
  padding: 5px;
  padding-right: 12px;
}

#closeIcon:hover {
  color: #1780dd;
  cursor: pointer;
}

#modalHeaderText {
  padding-left: 30px;
  text-shadow: 0px 0px 1px #b9b1b1;
}

#modalContent {
  padding: 5px 30px;
  text-shadow: 0px 0px 2px #b9b1b1;
}

.modalLink {
  text-decoration: none;
  text-shadow: none;
  color: #1183e7;
  font-weight: 600;
}

.modalLink:hover {
  text-shadow: 0px 0px 1px #b9b8b8;
}

.appName {
  font-weight: bolder;
  letter-spacing: 0.1em;
}

.appName:hover {
  animation: animateheader 2s linear forwards;
}

.modalLink:hover {
  color: #1780dd;
  cursor: pointer;
}

/* About Component ============================= */
#aboutContainer {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  animation: fadein 1s linear forwards;
  opacity: 0
}

#aboutContainer a, h4 {
  text-decoration: none;
  color: #0f4c81;
}
#aboutContainer h4 {
  padding: 10px;
}

#aboutContainer a:hover, h4:hover {
  color: #6492b9;
  text-decoration: none;
  cursor: pointer;
}

/* Keyframes =================================== */
@keyframes fadeinout {
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

@keyframes animateheader {
  20% {
    color: rgb(83,146,164);
  }
  40% {
    color: rgb(128,174,128);
  }
  60% {
    color: rgb(141,93,137);;
  }
  80% {
    color: rgb(162,115,105);
  }
  100% {
    color: rgb(182,166,110);
  }
}