body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Balsamiq Sans', cursive;
}

input {
  font-family: 'Patrick Hand', cursive;
  font-size: large;
  border: none;
  width: 80%;
  height: 100%;
  padding: 20px;
  margin: 10px;
}